.app__main{

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;

  color: white;
}
.container__modal{

  width: 200px;
  height: 100px;

  position: absolute;
  z-index: 3;
  font-weight: 200;
  left:40%;
  top:30%;

  display: flex;

  align-items: center;

  border: 5px solid rgba(190, 12, 12, 0.527);
  background-color: rgba(0, 0, 0, 0.907);
  color: rgba(255, 247, 247, 0.815);
}
.container__green{
  border: 5px solid rgba(12, 190, 21, 0.527);
}

.container__phrase{

  margin-left: 12px;
  font-weight: 200;
}

.main__home{
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}